<section id="main-slider">
    <div class="items">
        <div class="img-container" data-bg-img="../Content/Theme/assets/img/slider/5.jpg"></div><!-- Change the URL section based on your image\'s name -->
        <div class="slide-caption">
            <div class="inner-container clearfix">
                <div class="first-sec">Luxury House</div>
                <div class="sec-sec">in Los Angles</div>
            </div>
        </div>
    </div>
    <div class="items">
        <div class="img-container" data-bg-img="../Content/Theme/assets/img/slider/6.jpg"></div>
        <div class="slide-caption">
            <div class="inner-container clearfix">
                <div class="first-sec">Vacation Rental</div>
                <div class="sec-sec">in Las Vegas</div>
            </div>
        </div>
    </div>
    <div class="items">
        <div class="img-container" data-bg-img="../Content/Theme/assets/img/slider/3.jpg"></div>
        <div class="slide-caption">
            <div class="inner-container clearfix">
                <div class="first-sec">Luxury Apartment</div>
                <div class="sec-sec">in Beverly Hills</div>
            </div>
        </div>
    </div>
    <div class="items">
        <div class="img-container" data-bg-img="../Content/Theme/assets/img/slider/4.jpg"></div>
        <div class="slide-caption">
            <div class="inner-container clearfix">
                <div class="first-sec">Family House</div>
                <div class="sec-sec">in Chicago</div>
            </div>
        </div>
    </div>
</section>