<section id="our-partners">
    <div class="inner-container container">
        <h2 class="hsq-heading type-2">Our Partners</h2>
        <div class="logo-container owl-carousel">
            <div class="client-logo">
                <img src="assets/img/client-logo/altria1.png" alt="Cleint Logo">
            </div>
            <div class="client-logo">
                <img src="assets/img/client-logo/bluehost.png" alt="Cleint Logo">
            </div>
            <div class="client-logo">
                <img src="assets/img/client-logo/cube.png" alt="Cleint Logo">
            </div>
            <div class="client-logo">
                <img src="assets/img/client-logo/erikaschesonis1.png" alt="Cleint Logo">
            </div>
            <div class="client-logo">
                <img src="assets/img/client-logo/modernart.png" alt="Cleint Logo">
            </div>
            <div class="client-logo">
                <img src="assets/img/client-logo/nationalgeographic.png" alt="Cleint Logo">
            </div>
            <div class="client-logo">
                <img src="assets/img/client-logo/square.png" alt="Cleint Logo">
            </div>
            <div class="client-logo">
                <img src="assets/img/client-logo/squareroom.png" alt="Cleint Logo">
            </div>
        </div>
    </div>
</section>